# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [9]:
# Convert the date column format from string to datetime
import pandas as pd
dt=pd.to_datetime(df['date'])
dt

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-06
           ...
19545   2017-08-19
19546   2017-08-20
19547   2017-08-21
19548   2017-08-22
19549   2017-08-23
Name: date, Length: 19550, dtype: datetime64[ns]

In [11]:
# Set the date column as the DataFrame index
data= pd.DataFrame(dt)

            date
0     2010-01-01
1     2010-01-02
2     2010-01-03
3     2010-01-04
4     2010-01-06
...          ...
19545 2017-08-19
19546 2017-08-20
19547 2017-08-21
19548 2017-08-22
19549 2017-08-23

[19550 rows x 1 columns]

In [12]:
# Drop the date column
data

            date
0     2010-01-01
1     2010-01-02
2     2010-01-03
3     2010-01-04
4     2010-01-06
...          ...
19545 2017-08-19
19546 2017-08-20
19547 2017-08-21
19548 2017-08-22
19549 2017-08-23

[19550 rows x 1 columns]

### Compare June and December data across all years

In [13]:
from scipy import stats

In [14]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [15]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [16]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [17]:
Measurement = Base.classes.measurement
Station= Base.classes.station
session = Session(engine)

In [38]:
# Filter data for desired months
sel = [Measurement.date, 
       Measurement.tobs]
data06= session.query(*sel).\
    filter(func.strftime("%m", Measurement.date) == "06").group_by (Measurement.date).all()
data12=session.query(*sel).\
    filter(func.strftime("%m", Measurement.date) == "12").group_by (Measurement.date).all()
display(data06,data12)

[('2010-06-01', 78.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 78.0),
 ('2010-06-04', 76.0),
 ('2010-06-05', 77.0),
 ('2010-06-06', 78.0),
 ('2010-06-07', 77.0),
 ('2010-06-08', 78.0),
 ('2010-06-09', 78.0),
 ('2010-06-10', 79.0),
 ('2010-06-11', 78.0),
 ('2010-06-12', 78.0),
 ('2010-06-13', 78.0),
 ('2010-06-14', 77.0),
 ('2010-06-15', 78.0),
 ('2010-06-16', 78.0),
 ('2010-06-17', 77.0),
 ('2010-06-18', 77.0),
 ('2010-06-19', 82.0),
 ('2010-06-20', 78.0),
 ('2010-06-21', 78.0),
 ('2010-06-22', 78.0),
 ('2010-06-23', 78.0),
 ('2010-06-24', 78.0),
 ('2010-06-25', 77.0),
 ('2010-06-26', 76.0),
 ('2010-06-27', 78.0),
 ('2010-06-28', 78.0),
 ('2010-06-29', 78.0),
 ('2010-06-30', 78.0),
 ('2011-06-01', 77.0),
 ('2011-06-02', 78.0),
 ('2011-06-03', 73.0),
 ('2011-06-04', 70.0),
 ('2011-06-05', 76.0),
 ('2011-06-06', 77.0),
 ('2011-06-07', 77.0),
 ('2011-06-08', 77.0),
 ('2011-06-09', 77.0),
 ('2011-06-10', 78.0),
 ('2011-06-11', 77.0),
 ('2011-06-12', 77.0),
 ('2011-06-13', 78.0),
 ('2011-06-14', 78.0),
 ('2011-06-15', 77.0),
 ('2011-06-16', 74.0),
 ('2011-06-17', 78.0),
 ('2011-06-18', 78.0),
 ('2011-06-19', 75.0),
 ('2011-06-20', 76.0),
 ('2011-06-21', 76.0),
 ('2011-06-22', 74.0),
 ('2011-06-23', 72.0),
 ('2011-06-24', 77.0),
 ('2011-06-25', 78.0),
 ('2011-06-26', 76.0),
 ('2011-06-27', 77.0),
 ('2011-06-28', 75.0),
 ('2011-06-29', 77.0),
 ('2011-06-30', 74.0),
 ('2012-06-01', 76.0),
 ('2012-06-02', 76.0),
 ('2012-06-03', 75.0),
 ('2012-06-04', 77.0),
 ('2012-06-05', 77.0),
 ('2012-06-06', 76.0),
 ('2012-06-07', 78.0),
 ('2012-06-08', 77.0),
 ('2012-06-09', 76.0),
 ('2012-06-10', 77.0),
 ('2012-06-11', 76.0),
 ('2012-06-12', 76.0),
 ('2012-06-13', 77.0),
 ('2012-06-14', 77.0),
 ('2012-06-15', 78.0),
 ('2012-06-16', 77.0),
 ('2012-06-17', 77.0),
 ('2012-06-18', 77.0),
 ('2012-06-19', 76.0),
 ('2012-06-20', 75.0),
 ('2012-06-21', 76.0),
 ('2012-06-22', 76.0),
 ('2012-06-23', 77.0),
 ('2012-06-24', 76.0),
 ('2012-06-25', 73.0),
 ('2012-06-26', 73.0),
 ('2012-06-27', 75.0),
 ('2012-06-28', 77.0),
 ('2012-06-29', 76.0),
 ('2012-06-30', 77.0),
 ('2013-06-01', 79.0),
 ('2013-06-02', 78.0),
 ('2013-06-03', 79.0),
 ('2013-06-04', 78.0),
 ('2013-06-05', 78.0),
 ('2013-06-06', 79.0),
 ('2013-06-07', 77.0),
 ('2013-06-08', 77.0),
 ('2013-06-09', 77.0),
 ('2013-06-10', 77.0),
 ('2013-06-11', 77.0),
 ('2013-06-12', 78.0),
 ('2013-06-13', 77.0),
 ('2013-06-14', 76.0),
 ('2013-06-15', 78.0),
 ('2013-06-16', 78.0),
 ('2013-06-17', 77.0),
 ('2013-06-18', 78.0),
 ('2013-06-19', 78.0),
 ('2013-06-20', 73.0),
 ('2013-06-21', 76.0),
 ('2013-06-22', 77.0),
 ('2013-06-23', 75.0),
 ('2013-06-24', 76.0),
 ('2013-06-25', 74.0),
 ('2013-06-26', 75.0),
 ('2013-06-27', 77.0),
 ('2013-06-28', 76.0),
 ('2013-06-29', 77.0),
 ('2013-06-30', 78.0),
 ('2014-06-01', 79.0),
 ('2014-06-02', 77.0),
 ('2014-06-03', 78.0),
 ('2014-06-04', 79.0),
 ('2014-06-05', 78.0),
 ('2014-06-06', 78.0),
 ('2014-06-07', 78.0),
 ('2014-06-08', 78.0),
 ('2014-06-09', 79.0),
 ('2014-06-10', 79.0),
 ('2014-06-11', 82.0),
 ('2014-06-12', 80.0),
 ('2014-06-13', 79.0),
 ('2014-06-14', 79.0),
 ('2014-06-15', 78.0),
 ('2014-06-16', 78.0),
 ('2014-06-17', 77.0),
 ('2014-06-18', 78.0),
 ('2014-06-19', 78.0),
 ('2014-06-20', 73.0),
 ('2014-06-21', 75.0),
 ('2014-06-22', 75.0),
 ('2014-06-23', 76.0),
 ('2014-06-24', 84.0),
 ('2014-06-25', 79.0),
 ('2014-06-26', 76.0),
 ('2014-06-27', 79.0),
 ('2014-06-28', 79.0),
 ('2014-06-29', 77.0),
 ('2014-06-30', 79.0),
 ('2015-06-01', 78.0),
 ('2015-06-02', 78.0),
 ('2015-06-03', 79.0),
 ('2015-06-04', 77.0),
 ('2015-06-05', 79.0),
 ('2015-06-06', 78.0),
 ('2015-06-07', 78.0),
 ('2015-06-08', 78.0),
 ('2015-06-09', 79.0),
 ('2015-06-10', 77.0),
 ('2015-06-11', 78.0),
 ('2015-06-12', 78.0),
 ('2015-06-13', 78.0),
 ('2015-06-14', 78.0),
 ('2015-06-15', 79.0),
 ('2015-06-16', 79.0),
 ('2015-06-17', 77.0),
 ('2015-06-18', 78.0),
 ('2015-06-19', 78.0),
 ('2015-06-20', 78.0),
 ('2015-06-21', 79.0),
 ('2015-06-22', 79.0),
 ('2015-06-23', 77.0),
 ('2015-06-24', 79.0),
 ('2015-06-25', 79.0),
 ('2015-06-26', 79.0),
 ('2015-06-27', 81.0),
 ('2015-06-28', 76.0),
 ('2015-06-29', 80.0),
 ('2015-06-30', 78.0),
 ('2016-06-01', 76.0),
 ('2016-06-02', 71.0),
 ('2016-06-03', 71.0),
 ('2016-06-04', 74.0),
 ('2016-06-05', 76.0),
 ('2016-06-06', 78.0),
 ('2016-06-07', 77.0),
 ('2016-06-08', 77.0),
 ('2016-06-09', 73.0),
 ('2016-06-10', 77.0),
 ('2016-06-11', 78.0),
 ('2016-06-12', 78.0),
 ('2016-06-13', 80.0),
 ('2016-06-14', 79.0),
 ('2016-06-15', 78.0),
 ('2016-06-16', 77.0),
 ('2016-06-17', 76.0),
 ('2016-06-18', 77.0),
 ('2016-06-19', 77.0),
 ('2016-06-20', 78.0),
 ('2016-06-21', 80.0),
 ('2016-06-22', 79.0),
 ('2016-06-23', 79.0),
 ('2016-06-24', 77.0),
 ('2016-06-25', 78.0),
 ('2016-06-26', 79.0),
 ('2016-06-27', 80.0),
 ('2016-06-28', 76.0),
 ('2016-06-29', 79.0),
 ('2016-06-30', 80.0),
 ('2017-06-01', 79.0),
 ('2017-06-02', 79.0),
 ('2017-06-03', 79.0),
 ('2017-06-04', 79.0),
 ('2017-06-05', 80.0),
 ('2017-06-06', 79.0),
 ('2017-06-07', 79.0),
 ('2017-06-08', 80.0),
 ('2017-06-09', 80.0),
 ('2017-06-10', 77.0),
 ('2017-06-11', 79.0),
 ('2017-06-12', 83.0),
 ('2017-06-13', 80.0),
 ('2017-06-14', 80.0),
 ('2017-06-15', 78.0),
 ('2017-06-16', 79.0),
 ('2017-06-17', 80.0),
 ('2017-06-18', 77.0),
 ('2017-06-19', 80.0),
 ('2017-06-20', 78.0),
 ('2017-06-21', 79.0),
 ('2017-06-22', 80.0),
 ('2017-06-23', 78.0),
 ('2017-06-24', 80.0),
 ('2017-06-25', 80.0),
 ('2017-06-26', 81.0),
 ('2017-06-27', 80.0),
 ('2017-06-28', 79.0),
 ('2017-06-29', 79.0),
 ('2017-06-30', 75.0)]

[('2010-12-01', 76.0),
 ('2010-12-02', 72.0),
 ('2010-12-03', 74.0),
 ('2010-12-04', 74.0),
 ('2010-12-05', 73.0),
 ('2010-12-06', 64.0),
 ('2010-12-07', 64.0),
 ('2010-12-08', 67.0),
 ('2010-12-09', 77.0),
 ('2010-12-10', 66.0),
 ('2010-12-11', 69.0),
 ('2010-12-12', 68.0),
 ('2010-12-13', 68.0),
 ('2010-12-14', 71.0),
 ('2010-12-15', 74.0),
 ('2010-12-16', 67.0),
 ('2010-12-17', 66.0),
 ('2010-12-18', 69.0),
 ('2010-12-19', 71.0),
 ('2010-12-20', 71.0),
 ('2010-12-21', 71.0),
 ('2010-12-22', 71.0),
 ('2010-12-23', 70.0),
 ('2010-12-24', 70.0),
 ('2010-12-25', 69.0),
 ('2010-12-26', 74.0),
 ('2010-12-27', 74.0),
 ('2010-12-28', 71.0),
 ('2010-12-29', 75.0),
 ('2010-12-30', 75.0),
 ('2010-12-31', 72.0),
 ('2011-12-01', 69.0),
 ('2011-12-02', 68.0),
 ('2011-12-03', 73.0),
 ('2011-12-04', 74.0),
 ('2011-12-05', 73.0),
 ('2011-12-06', 73.0),
 ('2011-12-07', 73.0),
 ('2011-12-08', 73.0),
 ('2011-12-09', 71.0),
 ('2011-12-10', 73.0),
 ('2011-12-11', 73.0),
 ('2011-12-12', 77.0),
 ('2011-12-13', 72.0),
 ('2011-12-14', 71.0),
 ('2011-12-15', 73.0),
 ('2011-12-16', 70.0),
 ('2011-12-17', 73.0),
 ('2011-12-18', 69.0),
 ('2011-12-19', 74.0),
 ('2011-12-20', 72.0),
 ('2011-12-21', 71.0),
 ('2011-12-22', 72.0),
 ('2011-12-23', 72.0),
 ('2011-12-24', 70.0),
 ('2011-12-25', 73.0),
 ('2011-12-26', 73.0),
 ('2011-12-27', 72.0),
 ('2011-12-28', 73.0),
 ('2011-12-29', 73.0),
 ('2011-12-30', 72.0),
 ('2011-12-31', 63.0),
 ('2012-12-01', 65.0),
 ('2012-12-02', 71.0),
 ('2012-12-03', 76.0),
 ('2012-12-04', 70.0),
 ('2012-12-05', 76.0),
 ('2012-12-06', 69.0),
 ('2012-12-07', 69.0),
 ('2012-12-08', 69.0),
 ('2012-12-09', 74.0),
 ('2012-12-10', 76.0),
 ('2012-12-11', 74.0),
 ('2012-12-12', 73.0),
 ('2012-12-13', 73.0),
 ('2012-12-14', 74.0),
 ('2012-12-15', 73.0),
 ('2012-12-16', 73.0),
 ('2012-12-17', 73.0),
 ('2012-12-18', 74.0),
 ('2012-12-19', 74.0),
 ('2012-12-20', 71.0),
 ('2012-12-21', 73.0),
 ('2012-12-22', 72.0),
 ('2012-12-23', 64.0),
 ('2012-12-24', 66.0),
 ('2012-12-25', 73.0),
 ('2012-12-26', 73.0),
 ('2012-12-27', 72.0),
 ('2012-12-28', 65.0),
 ('2012-12-29', 64.0),
 ('2012-12-30', 69.0),
 ('2012-12-31', 68.0),
 ('2013-12-01', 77.0),
 ('2013-12-02', 71.0),
 ('2013-12-03', 71.0),
 ('2013-12-04', 69.0),
 ('2013-12-05', 68.0),
 ('2013-12-06', 68.0),
 ('2013-12-07', 69.0),
 ('2013-12-08', 70.0),
 ('2013-12-09', 72.0),
 ('2013-12-10', 76.0),
 ('2013-12-11', 75.0),
 ('2013-12-12', 69.0),
 ('2013-12-13', 71.0),
 ('2013-12-14', 71.0),
 ('2013-12-15', 71.0),
 ('2013-12-16', 68.0),
 ('2013-12-17', 65.0),
 ('2013-12-18', 70.0),
 ('2013-12-19', 69.0),
 ('2013-12-20', 69.0),
 ('2013-12-21', 71.0),
 ('2013-12-22', 67.0),
 ('2013-12-23', 73.0),
 ('2013-12-24', 74.0),
 ('2013-12-25', 73.0),
 ('2013-12-26', 67.0),
 ('2013-12-27', 74.0),
 ('2013-12-28', 75.0),
 ('2013-12-29', 75.0),
 ('2013-12-30', 74.0),
 ('2013-12-31', 67.0),
 ('2014-12-01', 73.0),
 ('2014-12-02', 73.0),
 ('2014-12-03', 71.0),
 ('2014-12-04', 72.0),
 ('2014-12-05', 71.0),
 ('2014-12-06', 68.0),
 ('2014-12-07', 65.0),
 ('2014-12-08', 69.0),
 ('2014-12-09', 70.0),
 ('2014-12-10', 70.0),
 ('2014-12-11', 74.0),
 ('2014-12-12', 71.0),
 ('2014-12-13', 74.0),
 ('2014-12-14', 73.0),
 ('2014-12-15', 72.0),
 ('2014-12-16', 74.0),
 ('2014-12-17', 72.0),
 ('2014-12-18', 74.0),
 ('2014-12-19', 75.0),
 ('2014-12-20', 74.0),
 ('2014-12-21', 70.0),
 ('2014-12-22', 74.0),
 ('2014-12-23', 70.0),
 ('2014-12-24', 66.0),
 ('2014-12-25', 61.0),
 ('2014-12-26', 63.0),
 ('2014-12-27', 63.0),
 ('2014-12-28', 63.0),
 ('2014-12-29', 63.0),
 ('2014-12-30', 67.0),
 ('2014-12-31', 56.0),
 ('2015-12-01', 75.0),
 ('2015-12-02', 77.0),
 ('2015-12-03', 75.0),
 ('2015-12-04', 75.0),
 ('2015-12-05', 75.0),
 ('2015-12-06', 75.0),
 ('2015-12-07', 71.0),
 ('2015-12-08', 70.0),
 ('2015-12-09', 74.0),
 ('2015-12-10', 74.0),
 ('2015-12-11', 75.0),
 ('2015-12-12', 72.0),
 ('2015-12-13', 70.0),
 ('2015-12-14', 66.0),
 ('2015-12-15', 74.0),
 ('2015-12-16', 75.0),
 ('2015-12-17', 74.0),
 ('2015-12-18', 75.0),
 ('2015-12-19', 76.0),
 ('2015-12-20', 74.0),
 ('2015-12-21', 75.0),
 ('2015-12-22', 74.0),
 ('2015-12-23', 73.0),
 ('2015-12-24', 68.0),
 ('2015-12-25', 73.0),
 ('2015-12-26', 74.0),
 ('2015-12-27', 74.0),
 ('2015-12-28', 77.0),
 ('2015-12-29', 70.0),
 ('2015-12-30', 70.0),
 ('2015-12-31', 69.0),
 ('2016-12-01', 75.0),
 ('2016-12-02', 72.0),
 ('2016-12-03', 69.0),
 ('2016-12-04', 71.0),
 ('2016-12-05', 68.0),
 ('2016-12-06', 67.0),
 ('2016-12-07', 69.0),
 ('2016-12-08', 73.0),
 ('2016-12-09', 70.0),
 ('2016-12-10', 70.0),
 ('2016-12-11', 70.0),
 ('2016-12-12', 66.0),
 ('2016-12-13', 67.0),
 ('2016-12-14', 70.0),
 ('2016-12-15', 66.0),
 ('2016-12-16', 62.0),
 ('2016-12-17', 71.0),
 ('2016-12-18', 73.0),
 ('2016-12-19', 69.0),
 ('2016-12-20', 77.0),
 ('2016-12-21', 74.0),
 ('2016-12-22', 71.0),
 ('2016-12-23', 72.0),
 ('2016-12-24', 74.0),
 ('2016-12-25', 74.0),
 ('2016-12-26', 74.0),
 ('2016-12-27', 74.0),
 ('2016-12-28', 71.0),
 ('2016-12-29', 73.0),
 ('2016-12-30', 69.0),
 ('2016-12-31', 66.0)]

In [54]:
# Identify the average temperature for June
df=pd.DataFrame(data06)
june_average = df.mean()
june_average

1    77.491667
dtype: float64

In [61]:
# Identify the average temperature for December
df1=pd.DataFrame(data12)
dec_average = df1.mean()
dec_average

1    71.119816
dtype: float64

In [62]:
# Create collections of temperature data
display(june_average,dec_average)

1    77.491667
dtype: float64

1    71.119816
dtype: float64

In [77]:
# Run paired t-test


stats.shapiro(df[1])
stats.shapiro(df1[1])

ShapiroResult(statistic=0.9407568573951721, pvalue=1.0029366848129939e-07)

In [78]:
stats.levene(df[1],df1[1])

LeveneResult(statistic=0.0, pvalue=1.0)

### Analysis

In [79]:
res = stats.ttest_ind(df[1], df1[1], 
                      equal_var=True)

display(res)

Ttest_indResult(statistic=0.0, pvalue=1.0)

In [ ]:
#No correlated relationship between the temperatures in June and December been found.